body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7eff5;
}

.container {
    text-align: center;
}

.container h2 {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: #ffff;
    font-size: 30px;
    margin-bottom: 25px;
}

.color {
    color: rgb(12,83,107);

}

.btn{
    background-color: transparent;
    padding: 10px;
    border: 2px solid #2222;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
}
.btn:hover{
    background-color: #222;
    color:#ffff;
    transition: all 0.5s ease-in-out;
}